// COMPOSANT TITRE PRINCIPAL DE LA PAGE d'ACCUEIL
#text {
    font-size: 42px;
    line-height: 1;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;

    &:hover {
        cursor: default;
    }

    .line {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .wrapper {
        position: relative;
        display: inline-block;
        top: -900px;
        width: 3ch;
        height: 2em;
        overflow: visible;
        transition: top 0.6s cubic-bezier(0.22, 1, 0.36, 1);

        span {
            position: absolute;
            top: 0;
            left: 0;
            transition: ease 0.4s all;

            &.letter-2 {
                color: var(--color-three);
                z-index: 0;
            }

            &.letter-1 {
                color: var(--color-two);
                z-index: 1;

                &:hover {
                    top: -3px;
                    left: -3px;

                    ~.letter-2 {
                        top: 3px;
                        left: 3px;
                    }
                }
            }

            &.space {
                padding: 0;
                min-width: 30px;
                display: inline-block;
                position: static;
            }
        }
    }
}



// COMPOSANT A PROPOS DE MOI
.about-me-component {
    width: 95%;
    max-width: 1440px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 50px;
}

.about-me-img {
    width: 300px;
    height: 315px;
    border: solid 1px greenyellow;
}

.about-me,
.my-goals {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-title,
.my-goals-title {
    font-size: 50px;
    padding-bottom: 20px;
    font-weight: 600;
    color: var(--color-ten);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(30, end) forwards, hide-caret 0s forwards;
    animation-delay: 0s, 3s; // le "hide-caret" commence à 3s
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes hide-caret {
    to {
        border-right: none;
    }
}

.my-goals-list,
.about-me-txt {
    width: 805px;
    color: var(--color-five);
    line-height: 1.5;
}

.my-goals-list {
    list-style: none; // On désactive les puces par défaut
    padding-left: 50px;

    li {
        position: relative;
        padding-left: 30px; // 👈 décalage total vers la droite (puce + texte)
        margin-bottom: 10px;

        &::before {
            content: "★"; // étoile pleine
            position: absolute;
            left: 0;
            top: 0;
            font-size: 17px;
            color: var(--color-ten);
        }
    }
}


.about-me-txt {
    text-align: justify;
    padding-bottom: 20px;
}



// COMPOSANT DES PROJETS DU CV
.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-top: 2px solid red;
    border-bottom: 2px solid red;

    width: 70%;
    padding: 15px 0;

    margin-left: 20px;
}

.project.right {
    align-items: flex-end;
    text-align: right;
}

.project:nth-child(even) {
    align-self: flex-end;
    margin-right: 30px;
}


.projet-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.projet-title-container.left {
    justify-content: flex-start;
    text-align: left;
}

.projet-title-container.right {
    justify-content: flex-end;
    flex-direction: row-reverse;
    text-align: right;
}

.project div p {
    color: var(--color-eight-second);
    font-size: 18px;
}

.project div button {
    border: 2px solid var(--color-eight-first);
    border-radius: 5px;
    background-color: var(--color-eight-second);
    color: var(--color-eight-first);

    text-align: center;
    font-size: 17px;
    font-weight: 600;

    width: auto;
    padding: 10px 15px;
    margin: 0 50px 0 20px;

    cursor: pointer;
}


.competences {
    color: white;
    font-size: 16px;
    margin: 0 0 20px 20px;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

.competences.right {
    margin: 0 50px 20px 0; 
    text-align: right;
}

.project ul {
    color: white;
    font-size: 14px;
    padding-left: 50px;

    li {
        position: relative;
        padding-left: 40px; // 👈 décalage total vers la droite (puce + texte)
        line-height: 1.5;
        text-align: left;
        letter-spacing: 0.5px;
        transform: scaleY(0.9);


        &::before {
            content: "★"; // étoile pleine
            position: absolute;
            left: 0;
            top: 0;
            font-size: 15px;
            color: white;
        }
    }
}

.project.right ul {
    padding-right: 50px;
    padding-left: 0;
}

.project.right ul li {
    padding-right: 40px;
    padding-left: 0;
    text-align: right;

    &::before {
        left: auto;
        right: 0;
    }
}


// COMPOSANT DES CERTIFICATIONS OPENCLASSROOMS
.certification-card img {
    width: 50px;
    height: 100px;
}