.cv-page {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    .part-cv-1 {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        height: auto;
        background-color: var(--color-fourteen);

        .title-cv-container {
            gap: 250px;
            display: flex;
            flex-direction: row;
            position: relative;
            justify-content: center;

            .cv-title {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                position: relative;

                a {
                    border: solid black 3px;
                    background-color: var(--color-sixteen);
                    border-radius: 10px;
                    padding: 10px 15px;
                    color: black;
                    font-size: 16px;
                }

                a:hover,
                a:focus {
                    border: solid var(--color-sixteen) 3px;
                    color: var(--color-sixteen);
                }
            }

            .cv-image {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                padding-top: 5px;

                img {
                    margin: 15px 0;
                    height: 300px;
                    width: auto;
                    border: black 3px solid;
                    border-radius: 10px;
                    margin-bottom: 20px;
                }
            }
        }

    }

    .part-cv-2 {
        width: 100%;
        max-width: 1440px;
        padding: 40px 0;

        .openclassrooms {
            text-align: center;

            h2 {
                font-size: 35px;
                margin-bottom: 15px;
            }

            .formation-title {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
                text-align: center;
                margin-bottom: 50px;

                .formation-p {
                    font-size: 25px;
                    margin-bottom: 0;
                }

                a {
                    display: inline-block;
                    border: 2px solid;
                    border-radius: 5px;
                    font-size: 15px;
                    padding: 10px;
                    margin: 0;
                    margin-top: 4px;
                }
            }

            .projects-container {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                gap: 20px;
                margin-bottom: 30px;
            }
        }
    }
}

.certification-p {
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 50px;
}

.certifications-wrapper {
    position: absolute;
    top: auto;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    width: 80%;
    height: auto;
}




.certifications-scroll {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    margin: 0 10px;

}

// Apparence de la barre de scroll 
.certifications-scroll {
    scrollbar-width: thin;
    scrollbar-color: #f90 #111;
}

.certifications-scroll::-webkit-scrollbar {
    height: 12px;
}

.certifications-scroll::-webkit-scrollbar-track {
    background: #111;
}

.certifications-scroll::-webkit-scrollbar-thumb {
    background-color: #f90;
    border-radius: 6px;
    border: 2px solid #222;
}

.round {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
}

.round.left {
    position: absolute;
    left: 0;
}

.round.right {
    position: absolute;
    right: 0;
}

.university {
    margin-top: 200px;
}