.footer {
    padding: 20px 8%;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-six);

    .link-footer,
    .info-footer,
    .button-footer {
        flex: 1;
    }

    .link-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .link-to-github,
        .link-to-linkedin {
            background-color: var(--color-three-bis);
            border-radius: 50px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: var(--color-five-bis);
            }
        }
    }

    .info-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 40px;

        .p-footer-1 {
            color: var(--color-one);
            font-size: 25px;
            padding: 10px 0;
        }

        .p-footer-2 {
            color: var(--color-one);
            font-size: 15px;
            padding: 10px 0;
        }
    }

    .button-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;

        .link-to-certificates,
        .link-to-top-page {
            background-color: var(--color-three-bis);
            border: none;
            border-radius: 50px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: var(--color-five-bis);
            }
        }
    }
}

#icone-footer {
    color: var(--color-five-bis);
    font-size: 20px;

    &:hover {
        color: var(--color-three-bis);
    }
}