@mixin mise-en-page {
    width: 100%;
    max-width: 1440px;
    height: auto;
}

@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin part-intro {
    color: #0b0b0b;
    font-size: 11px;
    font-style: italic;
}

@mixin background-linear {
    background-image: repeating-linear-gradient(to bottom,
            #3f6ec4,
            #3f6ec4 30px,
            black 30px,
            black 50px);
}