// font-family: 'Poppins', sans-sherif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

// font-family: 'Audiowide', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Audiowide', sans-serif;
    height: auto;
}

:root {
    --background-image-url: url('../images/background-part-1-home.png');
    --background-image-cv: url('../images/background-image-cv-dark.png');
    --background-image-projet: url('../images/background-projet-dark.png');
    
    --color-one: white; // logo du header, menu du header, copyright
    --color-two: white; // titre principal (lettres visibles), texte description, texte bouton mode jour/nuit

    --color-three: #B2A18A; // titre principal (lettres cachées), 3 qualités
    --color-three-bis: #B2A18A; 

    --color-four: #a08f77; // titre "mon parcours"

    --color-five: #2E4636; // titre blocs parcours, texte "à propos"/"objectifs"
    --color-five-bis :#2E4636;

    --color-six: #011E14; // couleur fond header et footer
    --color-seven: #B2A18A; // focus menu du header
    --color-eight-first: #2E4636; // boutons raccourcis part-1 (texte + contour)
    --color-eight-second: #cdbba2; // boutons raccourcis part-1 (couleur de fond)
    --color-nine-first: #B2A181; // focus boutons raccourcis part-1 (texte + contour)
    --color-nine-second: #2E4636; // focus boutons raccourcis part-1 (couleur de fond) 

    --color-ten: #011E14; // titre "A propos"/"Objectifs"
    --color-eleven: #a08f77; // couleur de fond part-2
    --color-twelve: black;  // couleur texte description blocs parcours
    --color-thirteen: #B2A18A; // couleur date blocs parcours
    --color-fourteen: #2E4636; // couleur de fond part-3
    --color-sixteen: #a08f77; //couleur de fond des 3 blocs parcours
    
    --color-seventeen: #011e14;
    --color-eighteen: black;
    --color-eighteen-second: #011E14;
    --color-nineteen: #c5beb5; 

    --color-twenty: #B2A18A;
}

.mode-white {
    --background-image-url: url('../images/background-image-mode-white.png');
    --background-image-cv: url('../images/background-image-cv-light.png');

    --color-one: #667D6E;
    --color-two: #06432D;

    --color-three: black;
    --color-three-bis: #011E14; 

    --color-four: #2E4636;

    --color-five: black;
    --color-five-bis: #c5beb5;

    --color-six: #baac98;
    --color-seven: #011E14; 
    --color-eight-first: black;
    --color-eight-second: #667D6E;
    --color-nine-first: black;
    --color-nine-second: #B2A18A;

    --color-ten: #D8C9B4;
    --color-eleven: #7e9d89;
    --color-twelve: #D8C9B4;
    --color-thirteen: black;
    --color-fourteen: #D8C9B4;
    --color-sixteen: #667D6E;
    
    --color-seventeen: white;
    --color-eighteen: #667d6e;
    --color-eighteen-second: #c5beb5;
    --color-nineteen: white;

    --color-twelve: white;
}

#root {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
}

html, body {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
}

body {
    background-color: var(--color-six);
}


ul, ol {
    list-style: none;
}