// font-family: 'Poppins', sans-sherif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

// font-family: 'Audiowide', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Audiowide', sans-serif;
}

:root {
    --first-bg-color: #050013;
    --second-bg-color: #1b1241;
    --third-bg-color: #0b0b0b;
    --text-color: #ededed;
    --main-color: #72638e;
}

#root {
    width: 100%;
    max-width: 1440px;
    height: auto;
}

html, body {
    width: 100%;
    max-width: 1440px;
    height: auto;
    background-color: var(--second-bg-color);
}

ul, ol {
    list-style: none;
}