@use './functions.scss' as mixins;

.part-1 {
    position: relative;
    width: 100%;
    height: 400px;
    max-width: 1440px;
    padding-bottom: 120px;
    background-color: #0b0b0b;

    div {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: transparent;

        .left {
            div {
                @include mixins.display;
                flex-direction: column;
                margin: 30px 0 0 0;
                z-index: 2;

                .avatar {
                    display: block;
                    width: 280px;
                    max-width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                    border: white 5px solid;
                    border-radius: 200px;
                }

                .name {
                    color: white;
                    font-size: 30px;
                    font-weight: 500;
                }
            }

            div {
                .dark-mode {
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-direction: row;
                    position: absolute;
                    top: 90px;
                    left: 400px;

                    img {
                        width: 28px;
                        height: 28px;
                    }

                    button {
                        height: 28px;
                        width: 60px;
                        margin: 0 15px;
                        background-color: #6d6c6c;
                        border: #6d6c6c 2px solid;
                        border-radius: 50px;

                        div {
                            width: 28px;
                            height: 28px;
                            border-radius: 50px;
                            background-color: white;
                            border: none;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }

                .hello-world {
                    color: white;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 40px;
                    animation: slideIn 5s ease-out forwards;
                    opacity: 0;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            z-index: 2;

            div {
                align-items: start;
                justify-content: center;
                flex-direction: column;
                margin-left: 100px;

                div {
                    flex-direction: row;
                    gap: 10px;

                    .flag1,
                    .flag2 {
                        height: 40px;
                        width: 70px;
                        margin-bottom: 15px;
                        margin-top: 30px;
                    }
                }

                div {
                    flex-direction: row;

                    .button-frensh,
                    .button-english {
                        height: 20px;
                        width: 20px;
                        background-color: transparent;
                        border: white 2px solid;
                        border-radius: 50px;
                        margin-bottom: 20px;
                    }

                    .button-frensh {
                        margin-right: 50px;
                    }

                }

                .date {
                    color: white;
                    font-size: 20px;
                    font-style: italic;
                    margin-left: 32%;
                }
            }

            h1 {
                padding-left: 60px;
            }
        }
    }

    .packman {
        @include mixins.display;
        position: absolute;
        top: 330px;

        .container {
            display: flex;
            align-items: center;
            overflow: hidden;
            height: 50vh;
            width: 95%;
            z-index: 3;
        }

        .pacman {
            position: relative;
            background: transparent;
            z-index: 2;

            &::before,
            &::after {
                position: absolute;
                top: -35px;
                display: block;
                border-radius: 50%;
                content: "";
                height: 0px;
                width: 0px;
            }

            &::before {
                animation: chunk-top 0.5s ease infinite;
                border: 35px solid #6d6c6c;
                border-left-color: transparent;
                border-bottom-color: transparent;
            }

            &::after {
                animation: chunk-bottom 0.5s ease infinite;
                border: 35px solid #6d6c6c;
                border-right-color: transparent;
                border-top-color: transparent;
            }
        }

        .path {
            display: flex;
            justify-content: space-around;
            animation: eating-path 0.5s linear infinite;
            width: 100%;

            &::before {
                background: #fff;
                border-radius: 50%;
                content: "";
                height: 1rem;
                width: 1rem;
            }
        }

        @keyframes chunk-top {

            0%,
            100% {
                transform: rotate(-45deg);
            }

            50% {
                transform: rotate(-80deg);
            }
        }

        @keyframes chunk-bottom {

            0%,
            100% {
                transform: rotate(-40deg);
            }

            50% {
                transform: rotate(0deg);
            }
        }

        @keyframes eating-path {
            0% {
                transform: translateX(50%);
            }

            100% {
                transform: translateX(-50%);
            }
        }
    }

    .wave-svg1 {
        position: absolute;
        transform: scaleX(-1);
        top: 0;
        width: 100%;
        height: 500px;
        background: #002d00; // le vert

        mask-image: url('/images/separation.svg'); // le chemin depuis public
        mask-size: cover;
        mask-repeat: no-repeat;
        mask-position: bottom center;

        -webkit-mask-image: url('/images/separation.svg'); // compatibilité Safari
        -webkit-mask-size: cover;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: bottom center;
    }

    .svg-top {
        position: absolute;
        top: 500px;
        width: 100%;
        max-width: 1440px;
        right:auto;
        height: 100px;
        display: block;
        z-index: 2;
    }
}



.part-2 {
    @include mixins.display;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1440px;
    background-color: #002d00;
    padding-top: 50px;

    div {
        flex-direction: column;
        gap: 20px;

        a {
            color: white;
            font-size: 14px;
            font-weight: 900;
            border: white 2px solid;
            background-color: #0b0b0b;
            height: auto;
            width: auto;
            padding: 10px 5px;
            text-decoration: none;
        }

        img {
            width: auto;
            height: 100px;
        }
    }

    div {
        @include mixins.display;
        flex-direction: column;


        .part-intro {
            @include mixins.part-intro;
        }

        ul {
            @include mixins.display;
            flex-direction: row;
            gap: 20px;

            li {
                color: #0b0b0b;
                font-size: 12px;
                font-weight: 700;
                border: #0b0b0b 3px solid;
                border-radius: 10px;
                background-color: white;
                height: auto;
                width: auto;
                padding: 20px 10px;
            }
        }

        .text-description {
            color: #0b0b0b;
            font-size: 15px;
            text-align: center;
            line-height: 1px;
        }
    }
}