.home {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    .home__intro {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1440px;
        height: 600px;
        background-image: var(--background-image-url);
        background-position: center;

        .home__intro-title {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            gap: 0;

            .home__title-container {
                display: flex;
                flex-direction: column;
                padding-left: 40px;

                .home__title {
                    width: 100%;
                    padding: 40px 0 20px 0;
                    height: auto;
                }

                .home__title-list {
                    color: var(--color-three);
                    font-size: 20px;
                    text-align: left;
                    font-weight: 600;
                    padding: 20px 0;
                }

                .home__title-description {
                    color: var(--color-two);
                    font-size: 15px;
                    white-space: normal;
                    text-align: justify;
                    padding-bottom: 20px;
                    line-height: 1.5;
                    margin: 20px 0;
                }
            }

            .home__title-buttons {
                display: flex;
                flex-direction: row;
                gap: 80px;

                .title__button-cv,
                .title__button-message {
                    border: 3px solid var(--color-eight-first);
                    color: var(--color-eight-first);
                    background-color: var(--color-eight-second);
                    border-radius: 20px;
                    text-align: center;
                    padding-top: 11px;
                    font-size: 17px;
                    font-weight: 600;
                    width: 150px;
                    height: 50px;
                    cursor: pointer;

                    &:hover {
                        border: 3px solid var(--color-nine-first);
                        background-color: var(--color-nine-second);
                        color: var(--color-nine-first);
                    }
                }
            }
        }

        .home__intro-darkMode {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-top: 130px;
            flex: 1;

            .home__darkMode-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                transform: rotate(0.5deg);

                .home__darkMode-button {
                    position: relative;
                    width: 60px;
                    height: 35px;
                    border: 2px solid white;
                    border-radius: 34px;
                    background-color: transparent;
                    box-sizing: border-box;
                    cursor: pointer;

                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .slider {
                        position: absolute;
                        inset: 0; // = top, left, right, bottom : 0
                        background-color: #06432D;
                        border-radius: 34px;
                    }

                    .slider::before {
                        content: "";
                        position: absolute;
                        width: 23px;
                        height: 23px;
                        top: 50%;
                        left: 5px;
                        transform: translateY(-50%);
                        background-color: white;
                        border-radius: 50%;
                        transition: transform 0.3s ease;
                    }

                    input:checked+.slider::before {
                        transform: translate(21.5px, -50%);
                    }
                }
            }
        }
    }
}


// COMPOSANT BOITE MODALE AFFICHÉE A L'OUVERTURE DU PORTFOLIO
.home-first-modal__container {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    .home-first-modal__content {
        position: relative;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        width: 50vw;
        max-height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .home-first-modal__title {
            color: black;
            font-size: 22px;
            margin: 20px;
            text-align: center;
        }

        .home-first-modal__text {
            margin: 10px 20px;
            text-align: justify;
        }

        .home-first-modal__close-button {
            background-color: var(--color-fourteen);
            border: black 2px solid;
            border-radius: 10px;
            text-align: center;
            font-size: 18px;
            color: var(--color-eleven);
            width: auto;
            height: 40px;
            padding: 5px;
            margin: 10px 20px 20px 20px;
            cursor: pointer;

            &:hover {
                background-color: var(--color-eleven);
                color: var(--color-fourteen);
                transform: scale(1.2);
            }
        }
    }
}


// COMPOSANT TITRE PRINCIPAL DE LA PAGE d'ACCUEIL
#text {
    font-size: 42px;
    line-height: 1;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;

    &:hover {
        cursor: default;
    }

    .line {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .wrapper {
        position: relative;
        display: inline-block;
        top: -900px;
        width: 3ch;
        height: 2em;
        overflow: visible;
        transition: top 0.6s cubic-bezier(0.22, 1, 0.36, 1);

        span {
            position: absolute;
            top: 0;
            left: 0;
            transition: ease 0.4s all;

            &.letter-2 {
                color: var(--color-three);
                z-index: 0;
            }

            &.letter-1 {
                color: var(--color-two);
                z-index: 1;

                &:hover {
                    top: -3px;
                    left: -3px;

                    ~.letter-2 {
                        top: 3px;
                        left: 3px;
                    }
                }
            }

            &.space {
                padding: 0;
                min-width: 30px;
                display: inline-block;
                position: static;
            }
        }
    }
}


// Petits mobiles (jusqu'à 480px)
@media (max-width: 480px) {
    .home {
        padding-top: 15px;
        width: 100%;
        max-width: 480px;

        .home__intro {
            flex-direction: column;
            height: auto;
            padding: 30px 7%;

            .home__intro-title {
                align-items: center;

                .home__title-container {
                    padding-left: 0;

                    .home__title-list {
                        font-size: 18px;
                        text-align: center;
                        padding: 15px 0;
                    }

                    .home__title-description {
                        font-size: 15px;
                        text-align: justify;
                        margin: 15px 0;
                    }
                }

                .home__title-buttons {
                    flex-direction: row;
                    gap: 30px;
                    flex-wrap: wrap;

                    .title__button-cv,
                    .title__button-message {
                        font-size: 16px;
                        width: 130px;
                        height: 45px;
                    }
                }
            }

            .home__intro-darkMode {
                padding-top: 60px;
            }
        }
    }


    // TITRE PRINCIPAL
    #text {
        font-size: 22px;
        text-align: center; // optionnel si tu veux recentrer sur petits écrans

        .wrapper {
            width: 2.5ch;
            height: 1.8em;
        }

        .space {
            min-width: 16px;
        }
    }
}

// Mobiles larges à tablettes petites (481px - 769px)
@media (min-width: 481px) and (max-width: 769px) {
    .home {
        padding-top: 25px;

        .home__intro {
            flex-direction: column;
            height: auto;
            padding: 30px 7%;

            .home__intro-title {
                align-items: center;

                .home__title-container {
                    padding-left: 0;

                    .home__title-list {
                        font-size: 18px;
                        text-align: center;
                        padding: 15px 0;
                    }

                    .home__title-description {
                        font-size: 15px;
                        text-align: justify;
                        margin: 15px 0;
                    }
                }

                .home__title-buttons {
                    flex-direction: row;
                    gap: 30px;
                    flex-wrap: wrap;

                    .title__button-cv,
                    .title__button-message {
                        font-size: 16px;
                        width: 130px;
                        height: 45px;
                    }
                }
            }

            .home__intro-darkMode {
                padding-top: 60px;
            }
        }
    }


    // TITRE PRINCIPAL
    #text {
        font-size: 28px;

        .wrapper {
            width: 2.7ch;
            height: 1.9em;
        }

        .space {
            min-width: 20px;
        }
    }
}

// Tablettes standard à petits laptops (770px - 1025px)
@media (min-width: 770px) and (max-width: 1025px) {
    .home {
        .home__intro {
            height: auto;
            padding: 40px 8%;

            .home__intro-title {
                .home__title-container {
                    padding-left: 20px;

                    .home__title-list {
                        font-size: 18px;
                    }

                    .home__title-description {
                        font-size: 15px;
                    }
                }

                .home__title-buttons {
                    gap: 50px;

                    .title__button-cv,
                    .title__button-message {
                        width: 140px;
                        font-size: 16px;
                    }
                }
            }

            .home__intro-darkMode {
                padding-top: 100px;
            }
        }
    }


    // TITRE PRINCIPAL
    #text {
        font-size: 34px;

        .wrapper {
            width: 2.8ch;
            height: 2em;
        }

        .space {
            min-width: 24px;
        }
    }
}