@use './functions.scss' as mixins;

.home-page {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    .part-1 {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1440px;
        min-height: 50vh;
        height: 600px;
        background-image: url('../images/background-part-1-home.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .part-1-left {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            gap: 0;

            .title-container {
                display: flex;
                flex-direction: column;
                padding-left: 40px;

                .main-title {
                    width: 100%;
                    height: auto;
                    padding-top: 40px;
                    padding-bottom: 20px;
                }

                .title-list {
                    color: var(--main-color);
                    font-size: 20px;
                    text-align: left;
                    font-weight: 600;
                    padding: 20px 0;
                }

                .title-description-p {
                    color: white;
                    font-size: 15px;
                    white-space: normal;
                    text-align: justify;
                    padding-bottom: 20px;
                    line-height: 1.5;
                    margin: 20px 0;
                }
            }

            .title-button {
                display: flex;
                flex-direction: row;
                gap: 80px;

                .title-button-cv,
                .title-button-contact {
                    border: 3px solid var(--main-color);
                    border-radius: 20px;
                    background-color: white;
                    color: var(--main-color);
                    font-size: 17px;
                    font-weight: 600;
                    width: 150px;
                    height: 50px;
                }

                .title-button-cv:hover,
                .title-button-contact:hover,
                .title-button-cv:focus,
                .title-button-contact:focus {
                    border: 3px solid white;
                    background-color: var(--second-main-color);
                    color: white;
                }
            }
        }

        .part-1-right {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-top: 130px;
            flex: 1;

            .btToggle {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                transform: rotate(0.5deg);
            }

            .btn {
                position: relative;
                width: 60px;
                height: 35px;
                border: 2px solid white;
                border-radius: 34px;
                background-color: transparent;
                box-sizing: border-box;
            }

            input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--second-bg-color);
                border-radius: 34px;
            }

            .slider::before {
                content: "";
                position: absolute;
                width: 23px;
                height: 23px;
                top: 50%;
                left: 3px;
                transform: translateY(-50%);
                background-color: white;
                border-radius: 50%;
                transition: transform 0.3s ease;
            }

            input:checked+.slider::before {
                transform: translate(21.5px, -50%);
                // 26px (rail = 60 - curseur - margin left)
            }
        }
    }

    .part-2 {
        width: 100%;
        max-width: 1440px;
        margin: 70px 0;
        transition: all 0.6s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .part-3 {}
}