@use './functions.scss' as mixins;

.home-page {
    display: flex;
    flex-direction: column;
    padding-top: 40px;

    .part-1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1440px;
        min-height: 50vh;
        height: auto;

        .part-1-left {
            position: relative;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            gap: 0;

            .title-container {
                display: flex;
                flex-direction: column;
                padding-left: 30px;

                .main-title {
                    width: 100%;
                    height: auto;
                    padding-top: 80px;
                    padding-bottom: 20px;
                }

                .title-list {
                    color: #00aaff;
                    font-size: 20px;
                    text-align: left;
                    font-weight: 600;
                    padding-bottom: 20px;
                }

                .title-description-p {
                    color: white;
                    font-size: 15px;
                    white-space: normal;
                    text-align: justify;
                    padding-bottom: 20px;
                }
            }

            .title-button {
                display: flex;
                flex-direction: row;
                gap: 80px;

                .title-button-cv, .title-button-contact {
                    border: 3px solid #00aaff;
                    border-radius: 20px;
                    background-color: #00aaff5d;
                    color: #00aaff;
                    font-size: 17px;
                    font-weight: 600;
                    width: 150px;
                    height: 50px;
                }

                .title-button-cv:hover, .title-button-contact:hover,
                .title-button-cv:focus, .title-button-contact:focus {
                    border: 2px solid white;
                    background-color: #00aaff;
                    color: white;
                }
            }
        }

        .part-1-right {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            .light-mode {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-top: 200px;
            }

            .light-mode .fa-sun,
            .light-mode .fa-moon {
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
            }

            .button-ligh-mode {
                border: 2px solid white;
                margin: 0 10px;
                background-color: transparent;
                border-radius: 50px;
                width: 100px;
                height: 40px;
                display: flex;
                align-items: center;

                .div-ligh-mode {
                    border: 2px solid white;
                    border-radius: 50px;
                    width: 40px;
                    height: 40px;
                    background-color: white;
                }
            }
        }
    }

    .part-2 {
        width: 100%;
        max-width: 1440px;
        height: auto;
        margin: 50px 0;
        transition: all 0.6s ease;
    }

    .part-3 {

    }
}